<div class="container">
  <section class="hero">
    <h1>Bonjour,Bonsoir</h1>
    <p>Haitham El Younssi</p>
    <a href="#" class="cta-button">Get Started</a>
  </section>

  <section class="features">
    <div class="feature">
      <div class="feature-icon">●</div>
      <h3>Test 1</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit tempore, atque dicta voluptatum officiis asperiores voluptas eligendi sed laudantium, veritatis magnam pariatur. Magnam doloremque reprehenderit, voluptates qui perspiciatis consequatur. Sequi.</p>
    </div>
    <div class="feature">
      <div class="feature-icon">●</div>
      <h3>Test 2</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, doloremque? Fugiat laudantium quas porro soluta provident. At impedit aperiam pariatur eveniet similique ad quae perferendis porro, sunt excepturi deserunt aut!</p>
    </div>
    <div class="feature">
      <div class="feature-icon">●</div>
      <h3>Test 3</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque praesentium necessitatibus reprehenderit aperiam aliquam vel quam dicta, a voluptatibus nobis reiciendis vero ut, illo molestiae veniam odio quae eveniet voluptates!</p>
    </div>
  </section>

</div>
